<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}POKE API{% endblock title %}</title>
</head>
<body>


<main class="container my-4">
    {% block content %}
    {% endblock content %}
</main>

    <footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container">
        <small>© 2025 Mi primer proyecto con plantillas en Flask. Todos los derechos reservados a quien le correspondan.</small>
    </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>