{% extends "base.html" %}

{% block title %}{{ pokemon.name }}{% endblock %}

{% block content %}
<div class="text-center bg-secondary">
  <h2 class=>{{ pokemon.name }} (#{{ pokemon.id }})</h2>
  <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}" class="img-fluid" style="width:200px;">
  <h4>Habilidades:</h4>
  <ul class="list-group w-50 mx-auto">
    {% for ability in pokemon.abilities %}
      <li class="list-group-item">{{ ability }}</li>
    {% endfor %}
  </ul>
  <h4>Tipo:</h4>
  <ul class="list-group w-50 mx-auto">
    {% for types in pokemon.types %}
      <li class="list-group-item">{{ types }}</li>
    {% endfor %}
  </ul>
  <h3>Peso y altura</h3>
    <h2 class=>{{ pokemon.height }} (#{{ pokemon.weight }})</h2>
  <a href="{{ url_for('base') }}" class="btn btn-secondary mt-4">Volver</a>
</div>
{% endblock %}

