{% extends "base.html" %}

{% block title %}Buscar Pokémon{% endblock %}

{% block content %}
<form action="{{ url_for('search_pokemon') }}" method="POST" class="text-center">
  <div class="mb-3">
    <label for="pokemon_name" class="form-label fw-bold">Nombre del Pokémon</label>
    <input type="text" class="form-control" id="pokemon_name" name="pokemon_name" placeholder="Ejemplo: pikachu">
    <div class="form-text">Busca tu Pokémon favorito</div>
  </div>
  <button type="submit" class="btn btn-danger btn-lg" >Buscar</button>
</form>
{% endblock %}